<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap uap18">

  <Identity
    Name="19d36882-c270-424b-99d2-c64deb8a3b27"
    Publisher="CN=dlm"
    Version="1.0.21.0" />

  <mp:PhoneIdentity PhoneProductId="19d36882-c270-424b-99d2-c64deb8a3b27" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ServerManage</DisplayName>
    <PublisherDisplayName>Night</PublisherDisplayName>
    <Logo>Images\package.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$" uap18:RuntimeBehavior="windowsApp" uap18:TrustLevel="appContainer">
      <uap:VisualElements
        DisplayName="服务管理"
        Description="服务编组一键启动器"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png" Square44x44Logo="Images\logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
